
header{
  border-bottom: 1px solid var(--text-color);
}
header .main-nav{
  background-color: white;
  color: var(--text-color);
  height: 60px;
}
.main-nav .container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav ul{
  display: flex;
  gap: 20px;
}
.main-nav ul li.active-page{
  border-bottom: 2px solid var(--maroon-color);
  padding-bottom: 3px;
}
.main-nav ul li:hover{
  color: var(--maroon-color);
}
.main-nav .nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main-nav .input-wrap{
  display: flex;   
  background-color: #f3f3f3;
  gap: 10px;
  border-radius: 10px;
  padding-inline: 8px;
  font-size: 16px;
  height: 35px;
  align-items: center;
  flex: 1;
  /* max-width: 400px; */
  width: 350px;
  font-size: 16px;
}
.input-wrap input{
  border: none !important;
  outline: none !important;
  margin-top: unset;
  box-shadow: unset;
  background-color: transparent;
  padding: 2px 5px;
  flex: 1;
  font-size: 1rem;
  margin-right: unset;
}
#cart-icon{
  position: relative;
  top: 4px;
}
#cart-icon span{
  position: absolute;
  top: -5px;
  right: 1px;
  background-color: var(--maroon-color);
  padding: 0 3px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
}
.dashboard-nav
{
background-color: var(--text-color);    
height: 40px;
color: white;
padding: var(--padding);

}
.dashboard-nav .container{
height: 100%;  
}
.dashboard-nav ul.container
{
height: 100%;
display: flex;  
width: 100% !important;
justify-content: space-between;
}
.dashboard-nav ul li
{
cursor: pointer;
flex: 1;
height: 100%;
/* display: flex;
align-items: center;
justify-content: center; */
}
.dashboard-nav ul li a{
width: 100%;
height: 100%;
/* display: block; */
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.dashboard-nav ul li:hover{
background-color: rgba(255, 0, 0, 0.7);
}
.active-category{
background-color: red;
}

.users
{
padding-top: 20px;
}
.users h1
{
font-size: 40px;
color: #232323;
}
/* @media screen and (max-width:600px ) 
{
.dashboard-nav
{
  top:initial;
  bottom: 0;
  padding: var(--mobile-padding);
}
.dashboard-nav ul li
{
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 13px;
  align-items: center;
}
} */